.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 10px;
  font-size: 15px;
}

.nav-bar {
  background-color: rgb(42, 1, 1);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: end;
}

.nav-bar-footer {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  margin-top: 40px;
}

.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-top: 12px;
}

.ul-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center
}

span {
  color: white;
}

ul li {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  color: rgb(197, 206, 95);
  font-weight: bold;
  color: white;
  }

.a-footer {
  text-decoration: none;
  font-size: 10px;
  color: rgb(197, 206, 95);
  font-weight: bold;
  color: white;
}

.order {
  text-decoration: none;
  color: white;
  font-size: 15px;
  color: rgb(197, 206, 95);
  font-weight: bold;
  color: black;
}

.left {
  text-align: left;
  display: inline
}

.right {
  text-align: right;
  display: inline
}

.footer1 {
  float: left;
}

.footer2 {
  float: right;
  border-top: 2px solid black;
}

.flex1 {
  display: flex;
}

.menu {
  background-color: pink;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.container2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
}

.container1 {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto
}

.card {
  background-color: rgb(247, 245, 245);
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}

.card-confirm {
  background-color: rgb(247, 245, 245);
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  margin-left: 400px;
}
.card1 {
  background-color: gray;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-adjustable-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.grid-adjustable-columns-confirm {
  display: grid;
  grid-template-columns: 1000px 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  padding: 0px;
}

.test2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  padding-left: 0px;
  padding-right: 0px;
}

.test3 {
  display: grid;
  grid-template-columns: 1000px 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: space-between
}

.price {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0px;
  padding: 0px;
  align-items: baseline;
}

.foodPrice {
  color: red;
  text-align: right;
}

.food {
  text-align: left;
}

.confirm {
  text-align: center;
}
.main {
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: column;
  }

  .test2 {
    display: grid;
    grid-auto-flow: column;
  }
}

@media (min-width: 701px) {
  .grid-adjustable-columns {
    margin: 0 auto;
    grid-auto-flow: row;
    gap: 1em;
  }

  .test2 {
    margin: 0 auto;
    grid-auto-flow: row;
    gap: 1em;
  }
}

.img-background {
  background-image: url("./Assets/greek-salad.jpg");
  border-radius: 15px;
  height: 200px;
}

.image {
  border-radius: 15px;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.confirm-image {
  border-radius: 15px;
  display: block;
  margin: 0px;
  padding: 0px;
  margin-left: 250px;
}

.imageMain {
  border-radius: 15px;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 300px;
}

.button {
  border-radius: 5px;
  color: black;
  background-color: #E1E452;
  margin-left: 0px;
  font-weight: bold;
  width: 200px;
}

.btn {
  border-radius: 5px;
  color: black;
  background-color: #E1E452;
  font-weight: bold;
  margin-top: 5px;
}

.book-btn {
  border-radius: 5px;
  color: black;
  background-color: black;
  font-weight: bold;
  margin-top: 5px;
}
.table-btn {
  background-color: gray;
  width: 80px;
  padding: 0px
}

input[type=radio] {
  display: none;
}

.star {
  cursor: pointer;
}

.social {
  cursor: pointer;
  color: white;
  margin: 0px;
  padding: 0px;
}

.testmon {
  text-align: center;
  background-color: rgb(247, 245, 245);
}

.chefa {
  height: 250px;
  left: 50px;
  position: relative;
  top: 90px;
  width: 250px;
  z-index: 1;
}

.chefb {
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 250px;
}

.copyright {
  color: white;
  margin-top: 5vh;
  font-size: 12px;
}

.selected {
  color: gray;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  font-weight: bold;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid black;
}

.validDiv {
  padding: 0px;
  margin: 0px;
}

.invalidDiv {
  padding: 0px;
  margin: 0px;
  color: red;
}

.input-err {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.inputLabel {
  padding: 15px 0px 5px;
}

.table-ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.table-li {
  padding: 0px;
  margin: 0px;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0px;
}

.table-tr {
  padding: 0px;
  margin:0px;
}

h2{
  padding: 0px;
}

.book-label {
  padding: 15px 0px 5px;
}

.required:after {
  color: #e32;
  content: ' *';
  display: inline;
  padding: 15px 0px 5px;
}

.required {
  padding: 15px 0px 5px;
}

a:hover {
  color: #E1E452;
}

.back{
  color: black;
}
.back:hover {
  color: rgb(30, 85, 30);
}

.reserve-link{
  color:#E1E452
}

.reserve-link:hover {
  color: #E1E452;
}

.reserve-link {
  color: white
}

.book-link-disabled {
  color: gray;
}

.book-link-enabled {
  color:#E1E452;
}

.inputWithIcon {
  position: relative;
  padding: 15px 0px 5px;
}

.inputWithIcon i {
  position: absolute;
  left: 350px;
  top: 30px;
  color: #aaa;
  transition: 0.3s;
}

.icon {
  position: absolute;
  left: 340px;
  top: 20px;
  color: #aaa;
  transition: 0.3s;
}