.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 10px;
  padding: 10px;
}

header.head-image {}

.nav-bar {
  background-color: gray;
  border-radius: 15px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center
}

ul li {
  padding: 4px 8px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.footer1 {
  float: left;
}

.footer2 {
  float: right;
  border-top: 2px solid black;
}

.flex {
  display: flex;

}

.menu {
  background-color: pink;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}